bin/
package-lock.json
.idea/
obj/
.DS_Store

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio 2015 cache/options directory
.vs/

node_modules/
/.cr/personal/Unit Testing/Continuous Testing.xml
/_NCrunch_EntityGraphQL/EntityGraphQL.executiontimes.cache
/_NCrunch_EntityGraphQL/EntityGraphQL.crunchsolution.cache
/src/tests/EntityGraphQL.Tests/EntityGraphQL.Tests.v3.ncrunchproject
/EntityGraphQL.v3.ncrunchsolution
